#method {
    position: absolute;
    left: 200px;
    top: 100px;
    width: 100px;
    height: 30px;
}

#address {
    position: absolute;
    left: 320px;
    top: 100px;
    width: 800px;
    height: 30px;
}

button {
    position: absolute;
    left: 1140px;
    top: 100px;
    width: 100px;
    height: 30px;
}

table {
    position: absolute;
    left: 100px;
    top: 150px;
    width: 100px;
    height: 30px;
}